<div th:fragment="alerts">
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
        <span th:text="${success}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${warning}">
        <span th:text="${warning}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
