<!DOCTYPE html>
<!-- To use thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/header :: head}"></head>

<body>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h2>Add transaction</h2>
                <a th:replace="~{fragments/back :: back}"></a>
                <form th:action="@{/transaction}" th:object="${transaction}" method="post" class="form">

                    <div class="alert alert-warning mt-3" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></div>

                    <div class="row mb-3 mt-3">
                        <div class="col-md">

                            <!-- Amount -->
                            <label for="amount" class="form-label">Amount (€):</label>
                            <input class="form-control mb-3" type="number" min="0.01" max="9999999" step="0.01"
                                th:field="*{amount}" required>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>

                            <!-- Transfer method -->
                            <label for="transferMethod" class="form-label">Transfer method:</label>
                            <select class="form-select mb-3" th:field="*{transferMethod}">
                                <option value="DEPOSIT">Deposit</option>
                                <option value="WITHDRAW">Withdraw</option>
                            </select>

                            <!-- Date -->
                            <label for="date" class="form-label">Date:</label>
                            <input type="date" class="form-control mb-3" th:field="*{date}" required>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>

                            <!-- Customer -->
                            <label for="customerId" class="form-label">Customer:</label>
                            <select class="form-select mb-3" th:field="*{customerId}">
                                <option th:each="customer : ${customers}" th:value="${customer.id}"
                                    th:text="|${customer.fullName} (${customer.email})|">
                                </option>
                            </select>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}"></div>
                        </div>

                        <div class="col-md">
                            <!-- Message -->
                            <label for="message" class="form-label">Message:</label>
                            <textarea class="form-control" rows="10" maxlength="255" th:field="*{message}"></textarea>
                            <div class="alert alert-warning mt-3" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
                        </div>
                    </div>

                    <div class="col">
                        <input type="submit" name="submit" value="Submit" class="btn btn-success">
                        <input type="reset" name="reset" value="Reset" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
